main {
  padding: 20px;
}

app-toolbar {
  ul {
    li {
      cursor: pointer;

      span {
        border-bottom: 1px solid transparent;
      }

      &.active {
        span {
          border-color: white;
        }
      }
    }
  }
}
