<app-toolbar [title]="'Angular Components'">
  <ul>
    <li routerLink="components" routerLinkActive="active">
      <span>Components</span>
    </li>
    <li routerLink="directives" routerLinkActive="active">
      <span>Directives</span>
    </li>
    <li routerLink="services" routerLinkActive="active">
      <span>Services</span>
    </li>
    <li routerLink="pipes" routerLinkActive="active">
      <span>Pipes</span>
    </li>
    <li routerLink="guards" routerLinkActive="active">
      <span>Guards</span>
    </li>
  </ul>
</app-toolbar>

<main>
  <router-outlet></router-outlet>
</main>