@import './styles/colors';
@import './styles/mixins';
@import './styles/breakpoints';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
